body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%),
    linear-gradient(0deg, #303030, #303030),
    linear-gradient(0deg, #BABABA, #BABABA);
    background-repeat: no-repeat;

}

/*CABEÇALHO*/

#principal{
    display: flex;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: #303030;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
}

#principal div a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: white;
    font-family: 'Inter', sans-serif;
    align-items: center;
}

    #principal div a:hover{
        color: #cccccc;
    }
#menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-left: 5%;
}

#principal button{
    margin-right: 5%;
    width: 80px;
    height: 39px;
    background-color: #0C70F2;
    border: 0px;
    color: white;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    box-shadow: 3px 2px 4px rgba(12,112,242, 0.30) ;
    cursor: pointer;
}

/*SEÇÃO PRINCIPAL*/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

header{
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

header h1{
    font-size: 80px;
    font-weight: 1000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

header h2{
    font-size: 40px;
    font-weight: 400;
}

header .invert{
    font-size: 40px;
    font-weight: 600;
    background-color: black;
    padding: 5px;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 630px;
}

.form-group input{
    border-radius: 10px;
    height: 30px;
    border: none;
    font-size: 20px;
    padding: 10px;
}

.form-group input::placeholder{
    color: gray;
}


.form-group label{
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkbox-itens{
    display: flex;
    justify-content: space-around;
}

.checkbox-itens label{
    font-size: 20px;
}

input[type="checkbox"]{
    transform: scale(1.5);
}

input[type="submit"]{
    height: 56px;
    width: 100%;
    border-radius: 10px;
    background-color: #0C70F2;
    border: 0px;
    color: white;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    box-shadow: 3px 2px 4px rgba(12,112,242, 0.30) ;
    cursor: pointer;
    margin: 100px 0 100px 0;

}

/*RODAPÉ*/

footer{
    width: 100%;
    background-color: #0C70F2; 
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;


}

.linha1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: center;
}

.linha1 nav{
    align-content: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
}

.linha1 ul{
    margin: 0px;
    padding: 0px;
}

.linha1 li{
    list-style: none;
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
}

.linha1 li a{
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

    .linha1 li a:hover{
        color: #cccccc;
    }

.linha1 h1{
    font-size: 25px;
    font-weight: 500;
}

.linha1 nav h1{
    background-color: black;
    border-radius: 10px;
    padding: 7px;
}

.endereco{
    font-size: 20px;
    font-weight: 500;
}

.linha2{
    font-size: 18px;
    font-weight: 500;
}


@media only screen and (max-width: 600px) {
   
    #principal{
        flex-direction: column;
        height: auto;
    }    

    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0px;
        align-items: center;
    }

    #menu a{
       display: flex;
       align-items: center;
       height: 50px;
       align-items: center;
    }

    #principal button{
        width: 100%;
        margin: 0px;
    }

    section{
        margin-top: 30px;
        width: 100%;
    }
    
    section h1{
        font-size: 38px;
    } 

    section h2{
        font-size: 14px;
        padding-right: 15px;
        padding-left: 15px;
    } 

    section .invert{
        font-size: 14px;
        padding: 1px;
    }

    form{
        width: 95%;
    }

    .form-group{
        width: 100%;
        font-size: 15px;
        
    }

    .form-group input{
        padding: 5px;
        font-size: 15px;
    }

    .checkbox-itens label{
        font-size: 15px;
    }

    input[type="checkbox"]{
        transform: scale(1);
    }

    input[type="submit"]{
        height: 56px;
        width: 100%;
        border-radius: 10px;
        background-color: #0C70F2;
        border: 0px;
        color: white;
        font-weight: 600;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        box-shadow: 3px 2px 4px rgba(12,112,242, 0.30) ;
        cursor: pointer;
        margin: 30px 0 30px 0;
    
    }

    footer{
        flex-direction: column;
    }

    .linha1{
        flex-direction: column;
    }

    .linha1 nav{
        height: auto;
    }

    .linha1 li{
        font-size: 15px;
    }
    
    .linha1 li a{
        font-size: 15px;
    }
      
    .linha1 h1{
        font-size: 15px;
    }
      
    .endereco{
        font-size: 15px;
    }
    
    .linha2 h1{
        font-size: 15px;
    }


  }